Repository nolood/vite-react-template-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, yarn test

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint", "yarn test"],
  "*.tsx": ["eslint", "prettier --write"]
}

fix: eslint config + new components
  .eslintrc.cjs
  components.json
  package.json
  src/App.tsx
  src/shared/ui/button.tsx
  src/shared/ui/form.tsx
  src/shared/ui/input.tsx
  src/shared/ui/label.tsx
Due: prettier --write, eslint

refactor: lib
  src/shared/lib/cn/cn.test.ts
  src/shared/lib/cn/cn.ts
  src/shared/ui/button.tsx
  src/shared/ui/form.tsx
  src/shared/ui/input.tsx
  src/shared/ui/label.tsx
Due: prettier --write, eslint, yarn test

feat: test router + eslint
  .eslintrc.cjs
  .prettierrc
  package.json
  src/app/app.tsx
  src/main.tsx
  src/pages/index.ts
  src/pages/login.tsx
  src/pages/main.tsx
  src/shared/lib/cn/cn.test.ts
  src/shared/lib/index.ts
  src/shared/router/paths.ts
  src/shared/router/router.tsx
  src/shared/ui/index.ts
  src/shared/ui/layouts/protected-layout/ui/protected-layout.tsx
Due: prettier --write, eslint, yarn test

feat: test
  .lintstagedrc.json
Due: none

feat: test
  src/shared/lib/cn/cn.test.ts
Due: prettier --write, eslint, yarn test

feat: test
  src/shared/ui/layouts/protected-layout/ui/protected-layout.tsx
Due: prettier --write, eslint

feat: configured router
  .lintstagedrc.json
  src/pages/index.ts
  src/shared/router/paths.ts
  src/shared/router/router.tsx
  src/shared/ui/layouts/protected-layout/ui/protected-layout.tsx
Due: prettier --write, eslint, yarn test

feat: add react testing library
  .eslintrc.cjs
  global.d.ts
  jest.config.ts
  package.json
  src/app/app.tsx
  src/app/providers/index.ts
  src/app/providers/index.tsx
  src/setup-tests.ts
  src/widgets/sidebar/index.ts
  src/widgets/sidebar/tests/sidebar.test.tsx
  src/widgets/sidebar/ui/sidebar.tsx
  tsconfig.json
Due: prettier --write, eslint, yarn test

Update README.md
  README.md
Due: none
